body{
    color: white;
    background-color: #101010;
}

ul{
    background-color: #373737;
    border-style: double;
    border-color:gold;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 14px 9px 14px 9px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 350px;
    height: 350px;
    
}

.center{
    text-align: center;
}

footer img{
    width: 60px;
    height: 30px;
}

footer{
    display: flex;
    justify-content: center;
}

nav{
    background-color: #222222;
    border: #6c6c6c;
    border-style: unset;
}

p{
color: darkgoldenrod;
}
.titulo{
    color: darkgoldenrod;
}
.tituloI{
    color: darkgoldenrod;
}
.subtitulo{
    color: darkgoldenrod;
}
hr{
    color: darkgoldenrod;
}

